/res/
/.idea/
/cmake-build-release-wsl/
/cmake-build-release-visual-studio-2022-x64/
/cmake-build-release-visual-studio-2022/
/out/
/.venv/
.pip-cache
/NoteBook/

.venv
lbopb\src\rlsac\out
*.crlf2lf.bak
*.utf8lf.bak
